/* CSS styles for the recipe project */
/* The goal isn't to make things look nice, but to practice applying CSS styles using an external style sheet.  */

.navigation {
    color: #ffffff;
    font-weight: bold;
}

.navigation a {
    color: #ffffff;
    font-weight: bold;
}

.navigation a:hover {
    color: rgb(241, 6, 210)
}

img {
    width: 600px;
}

img.chef {
    width: 300px;
}

.photo-caption {
    text-align: center;
    max-width: 600px;
}

h2 {
    font-size: 40px;
}

.description {
    font-size: 25px;
    color: rgb(2, 26, 104);
}


/* I will make each recipe page unique by setting unique font-family, and background color properties for each body ID */



#ipa {
    background-color:rgb(238, 203, 157);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#hot-dog {
    background-color: rgb(60, 104, 19);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#rainbow {
    background-color: aqua;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#home {
    background-color: black;
    color: hsl(0, 0%, 100%);
    font-family: Cambria, serif;
}