html {
    background-color: #fdfcdc;
    margin: 0;
    border: 0;
    padding: 0;
}

.title {

}

.heading-2 {

}

.description {

}

.navigation{

}

.menu{

}

.link {

}